<form method="post" action="result">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="age" placeholder="age">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="phone" placeholder="phone">
    <button type="submit">Register</button>
</form>